.form-search{
  width: 100%;
}

.container{
  margin: 0px auto;
  text-align: center;

    h2{
      text-align: center;
    }
}


  
  .example-full-width {

    width: 867px;
    display: flex;
    

  }
  