<div class="container">

    <h2 class="animate__animated animate__fadeInDown" > Clientes registrados </h2>

    <div class="flex-input animate__animated animate__fadeIn search">
        <app-search-input></app-search-input>
    
    </div>

    <table id="table" class="animate__animated animate__fadeIn animate__fast">
        <tr>
            <th> Nombre del cliente </th>
            <th> Número de celular  </th>
            <th> Correo electrónico </th>
            <th> Compañia/Lugar de trabajo </th>
            <th> Anotaciones </th>
            <th> Acciones </th>
        </tr>
    
         <tr *ngFor="let cliente of clientes"> 
            <td> {{cliente.name}}   </td>
            <td> {{cliente.number}} </td>
            <td> {{ (cliente.email) ? cliente.email : 'N/A' }} </td>
            <td> {{ (cliente.placeWork) ? cliente.placeWork : 'N/A' }} </td>
            <td> {{(cliente.description) ? cliente.description : 'N/A' }} </td>
            <td> <button mat-button [routerLink]="['/home/editar', cliente.id]" > Editar </button> <button mat-button (click)="borrar(cliente.id!)"> Eliminar </button> </td>
           
        </tr>
    </table>

    <div class="flex-reg">
        
        <span class="register-none animate__animated animate__fadeIn animate__delay-1s">
             {{hayRegistros}} </span>

    </div>

</div>
