.container{
    width: 98%;
    height: 90vh;
    margin: 0px auto;
    // border: 2px solid green;
    
    h2{
        text-align: center;
        font-size: 40px;
    }

    .flex-input{
        display: flex;
        justify-content: center;
        .search{
            height: 30px;
            width: 600px;
            
            // margin-left: -70px;
            // margin-right: 30px;
            // align-self: center;
            // justify-self: center;
            
            outline-style: none;
            border: none;
            border-radius: 7px;
            padding-left: 10px;
    
            transition: 300ms all;
        }
    
    
        .search:focus{
            box-shadow: inset 3px 3px 16px 1px rgba(130, 128, 128, 0.64);
            outline-style: none;
        }
    }

    

    #table{
        width: 100%;
        text-align: center;
        margin-top: 50px;
        // border: 2px solid red;
        
        tr{
            th{
                padding-bottom: 10px;
            }

            .option{
                padding-left: 40px;
            }
        }

        tr{
            td{
                text-align: center;
                border: 2px solid black;
                padding: 10px;
            }
            
        }
    }

}

