<div id="container">

    <div class="content">

        <article class="fraction">
            <p class="animate__animated animate__fadeInLeft animate__fast"> Proyecto hecho para administrar clientes/registros, donde los campos "Nombre" y "Número" de celular son los unicos obligatorios, backend hecho en NodeJS (express) y utilizando DB MySQL y frontend hecho en Angular. </p>
        </article>

        <section class="image animate__animated animate__fadeIn">
                <img  src="../../../../assets/images/desk1.png" alt="">
        </section>

    </div>
    
    <section class="contacto">
        <h2 class="animate__animated animate__fadeInUp"> Puedes revisar mis demás proyectos en mi Github y te dejo mi perfil de Linkedin </h2>

        <ul class="animate__animated animate__fadeInUp">
            <li>
                <a href="https://github.com/Danielzavala-reds?tab=repositories" target="_blank"> Github </a>
            </li>
            <li>
                <a href="https://www.linkedin.com/in/daniel-rojas-zavala/" target="_blank"> Linkedin </a>
            </li>
        </ul>
    </section>


</div>